
<input type="text" class="todo-input" placeholder="What needs to be done"
       [(ngModel)]="todoTitle" (keyup.enter)="addToDo()">

<div class="todo-item" *ngFor="let todo of todosFiltered()">
  <div class="todo-item-left">
    <input type="checkbox" [(ngModel)]="todo.completed">
    <div class="todo-item-name"
          [ngClass]="{'completed' : todo.completed}"
         *ngIf="!todo.editing; else editingTodo"
         (dblclick)="editToDo(todo)">{{todo.title}}</div>
  </div>

  <ng-template #editingTodo>
    <input type="text" class="todo-item-edit"
           [(ngModel)]="todo.title"
           (blur)="doneEdit(todo)"
           (keyup.enter)="doneEdit(todo)"
           (keyup.esc)="cancelEdit(todo)"
           autofocus>
  </ng-template>


  <div class="remove-item" (click)="deleteToDo(todo.id)">
    &times;
  </div>
</div>

<div class="manage-panel">
  <div class="extra-container">
    <div><label><input type="checkbox" (change)="checkAll()">Check All</label></div>
    <div> {{remaining()}} items left</div>
  </div>

  <div class="extra-container">
    <div>
      <button (click)="filter='all'"
              [ngClass]="{'active' : filter === 'all'}">All</button>
      <button (click)="filter='active'"
              [ngClass]="{'active' : filter === 'active'}">Active</button>
      <button (click)="filter='completed'"
              [ngClass]="{'active' : filter === 'completed'}">Completed</button>
    </div>

    <div *ngIf="isAnyCompleted()">
      <button (click)="clearCompleted()">Clear Completed</button>
    </div>
  </div>
</div>
